<!-- Extends dev2.html to complete the template used to generate the resume -->

{% extends "dev2.html" %}

{% block section3 %}
<div class="section-title">Education</div>
{% for school in schools %}
<div class="subsection">
    <div class="item">
        <div class="item-title">{{school.degree}}, {{school.name}}</div>
        <div>{{school.start_date}} - {{school.end_date}} | {{school.details}}</div>
        <!-- <div>{{school.details}}</div> -->

        {% if school.courses[0] %}
        <div class="item-title">Relevant Courses:</div>
        <ul>
            {% for course in school.courses %}
            <li>{{course.name}}: {{course.description}}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
{% endfor %}
{% endblock %}


{% block section2 %}
<div class="section-title">Experience</div>
{% for job in work_experience %}
<div class="subsection">
    <div class="item">
        <div class="container">
            <span class="item-title left">{{job.title}}, {{job.company}}</span> <span class="right gray">{{job.start_date}} - {{job.end_date}}</span>
        </div>
        <ul>
            {% for job_desc_item in job.description %}
            <li>{{job_desc_item}}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endfor %}
{% endblock %}



{% block section4 %}
{% if extra_section_name %}
<div class="section-title">{{extra_section_name}}</div>
<div class="subsection">{{extra_section_contents}}</div>
{% endif %}
{% endblock %}

{% block section5 %}
{% if extra_section2_name %}
<div class="section-title">{{extra_section2_name}}</div>
<div class="subsection">{{extra_section2_contents}}</div>
{% endif %}
{% endblock %}



{% block section0 %}
<div class="section-title">Projects</div>
<div class="subsection">
    {% for project in projects %}
    <div class="item">
        <div class="item-title">{{project.name}}</div>
        <ul>
            {% for project_desc_item in project.desc %}
            <li>{{project_desc_item}}</li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>
{% endblock %}


{% block section1 %}
<div class="section-title">Skills</div>
<div class="subsection">
    {% for skill_group in skills %}
    <div class="item">
        <span class="item-title">{{skill_group.name}}</span>: {{ skill_group.skills|join(', ') }}
    </div>
    {% endfor %}
</div>
{% endblock %}