body {
    font-family: 'Nexa Extra Light', Calibri, Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    /* margin: 30px 35px 35px 35px; */
    margin: 0;
    font-size: 12pt;
    font-weight: bold;
}

.section-title {
    font-size: 15pt;
    font-weight: bold;
    font-family: 'Nexa Heavy', 'Calibri', 'Arial', 'sans-serif';
    margin-bottom: 0px;
}

.name {
    font-size: 20pt;
    font-weight: bold;
    font-family: 'Nexa Heavy', 'Calibri', 'Arial', 'sans-serif';
}

.section {
    margin-bottom: 18px;
}

.header {
    text-align: center;
    margin-bottom: 10px;
}

.page {
    /* width: 612px;
    height: 792px; */
    /* width: 990px;
    height: 1330px; */
    /* padding: 0px 35px 35px 35px; */
    padding: 10px 45px 0px 45px;
    box-sizing: border-box; /* Include padding in width and height */
}

@font-face {
    font-family: 'Nexa Heavy';
    src: local('Nexa Heavy'); /* Use the local system's Calibri font */
    font-weight: bold; /* Specify the font weight */
}

a {
    color:black;
}

.logo {
    width:100px;
}

.logo-left {
    position: absolute;
    top: -12px;
    left: 42px;  
}

.logo-right {
    position: absolute;
    top: -12px;
    right: 42px;  
}

.logo-left img {
    transform: scaleX(-1);
}

.contact-info {
    margin-top: 0px;
}

.subsection {
    margin-left: 0px;
}

.item {
    margin-bottom: 0px;
}

.item-title {
    color:rgb(0, 131, 161);
    margin-top: 5px;
    font-weight: bold;
    font-family: 'Nexa Heavy', 'Calibri', 'Arial', 'sans-serif';
}

.section-title + .subsection .item-title{
    margin-top:0px;
}

* {
    margin: 0px;
}

ul {
    padding-left: 15px;
}

li {
    padding-left: 8px;
}

strong {
    font-weight: bold;
    font-family: 'Nexa Heavy', 'Calibri', 'Arial', 'sans-serif';
}

.grid-table {
    width: 100%; /* Full width */
    border: 2px solid black; /* Bold outline */
    border-collapse: collapse; /* Collapse borders */

    color:rgb(0, 84, 103);
    /* font-weight: bold; */
    /* font-family: 'Nexa Heavy', 'Calibri', 'Arial', 'sans-serif'; */
}

.grid-table td {
    border-right: 1px solid black; /* Thin lines between columns */
    padding: 0px 0px 0px 10px; /* Add some padding */
    text-align: left; /* Left-align text */
    width: 50%; /* Set equal width for each cell */
}

.grid-table td:last-child {
    border-right: none; /* Remove right border from last column */
}

.footnote {
    position:absolute;
    bottom:0;
    color:rgba(0, 0, 0, 0.418);
    font-size: 10px;
}