<!-- Extends dev2.html to complete the template used to generate the resume -->

{% extends "REPLACE_EXTENDS" %}

{% block education_replace %}
<div class="section-title">Education</div>
{% for school in schools %}
<div class="subsection">
    <div class="item">
        <div class="item-title">{{school.degree}}, {{school.name}}</div>
        <div>{{school.start_date}} - {{school.end_date}} | {{school.details}}</div>
        <!-- <div>{{school.details}}</div> -->

        {% if school.courses[0] %}
        <div class="item-title">Relevant Courses:</div>
        <ul>
            {% for course in school.courses %}
            <li>{{course.name}}: {{course.description}}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
{% endfor %}
{% endblock %}


{% block experience_replace %}
<div class="section-title">Experience</div>
{% for job in work_experience %}
<div class="subsection">
    <div class="item">
        <div class="item-title">{{job.title}}, {{job.company}}, {{job.start_date}} - {{job.end_date}}</div>
        <ul>
            {% for job_desc_item in job.description %}
            <li>{{job_desc_item}}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endfor %}
{% endblock %}



{% block extra_replace %}
{% if extra_section_name %}
<div class="section-title">{{extra_section_name}}</div>
<div class="subsection">{{extra_section_contents}}</div>
{% endif %}
{% endblock %}



{% block projects_replace %}
<div class="section-title">Projects</div>
<div class="subsection">
    {% for project in projects %}
    <div class="item">
        <div class="item-title">{{project.name}}</div>
        <ul>
            {% for project_desc_item in project.desc %}
            <li>{{project_desc_item}}</li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>
{% endblock %}


{% block skills_replace %}
<div class="section-title">Skills</div>
<table class="grid-table">
    <tr>
        <td>{{skills[0]}}</td>
        <td>{{skills[1]}}</td>
        <td>{{skills[2]}}</td>
    </tr>
    <tr>
        <td>{{skills[3]}}</td>
        <td>{{skills[4]}}</td>
        <td>{{skills[5]}}</td>
    </tr>
    {% if skills[8] %}
    <tr>
        <td>{{skills[6]}}</td>
        <td>{{skills[7]}}</td>
        <td>{{skills[8]}}</td>
    </tr>
    {% endif %}
    {% if skills[11] %}
    <tr>
        <td>{{skills[9]}}</td>
        <td>{{skills[10]}}</td>
        <td>{{skills[11]}}</td>
    </tr>
    {% endif %}
</table>
{% endblock %}